.wrapper {
  margin: 36px auto;
  text-align: center;
}

.center {
  text-align: center;
}

.avatarWrapper {
  position: relative;
  width: 96px;
  height: 96px;
  margin: 20px auto;
}

.email {
  color: var(--color-dark-100);
  margin: 12px 0;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.noImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  background-color: #c74444;
  margin: 36px auto;
  border-radius: 50%;
}

.editIconWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-dark-300); ;
  border-radius: 25%;
  cursor: pointer;
}

.editIconWrapper1 {
 padding-left: 9px;
}

.buttonMargin {
  margin-top: 20px;
}

