.wrapper {
  margin: 36px auto;
  text-align: center;
}

.center {
  text-align: center;
}

.email {
  color: var(--color-dark-100);
  margin: 12px 0;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.noImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  background-color: #c74444;
  margin: 36px auto;
  border-radius: 50%;
}

